.botonCarrito{
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.botonCarrito:hover{
    transform: scale(110%);
}

.botonCarrito img{
    width: 30px;
    height: 30px;
}

.botonCarrito p{
    background-color: #ff0000;
    width: 22px;
    height: 22px;
    position: absolute;
    top: -5px;
    right: -10px;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
}