.contCarrito--activated{
    position: absolute;
    right: 5px;
    top: 75px;
    width: 35%;
    background-color: #ddd;
    box-shadow: 5px 5px 20px #000;
    color: #000;
    border-radius: 10px;
    z-index: 999;
}

div.contCarrito--desactivated{
    right: -1000px;
    position: fixed;
}

.contCarrito--activated .contProductoCarrito h3{
    padding: 2rem;
    text-align: center;
    color: #444;
}

.contCarrito--activated  .contProductoCarrito  .productoCarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    background-color: #eee;
    border-radius: 10px;
}

.contCarrito--activated .contProductoCarrito .productoCarrito .botonesCarrito{
    display: flex;
    gap: 0.2rem;
}

.contCarrito--activated .contProductoCarrito .productoCarrito .botonesCarrito button{
    margin-top: 0;
    border: none;
    border-radius: 5px;
    
}

.contCarrito--activated .contTotalCarritoNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0.5rem;
}
.contCarrito--activated .contTotalCarritoNav button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    
}


.contCarrito--activated .contTotalCarritoNav a{
    background-image: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    color: #fff;
}

@media screen and (max-width: 761px) {

    .contCarrito--activated{
        right: 0;
        width: 100%;
    }
    
}